@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Theme */
  color-scheme: light dark;
  color: #f8f8f8de;
  background-color: #242424;

  /* App Colors */
  --accent1: #ff1200;
  --accent2: #ffdb00;
  --app-accent: #0f74f8;

  /* Rendering Quality */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -moz-user-drag: none;

  -webkit-tap-highlight-color: transparent;
}

/* REQUIRED for 100vh / layout components */
html, body, #root {
  height: 100%;
}

/* Inputs inherit font */
input, button, textarea, select {
  font: inherit;
}

/* Prevent image dragging (cross-browser) */
img {
  user-drag: none;
  -webkit-user-drag: none;
}


*::-webkit-scrollbar{
  width: 5px;
}
*::-webkit-scrollbar-track{
  background-color: #cccccc7e;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb{
  background-color: var(--app-accent);
  border-radius: 3px;
}


button{
  background-color: transparent;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #242424;
  }
}
