.mini_note_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    border-bottom: 0.5px solid transparent;
    font-family: Quicksand, sans-serif;
}

.mini_note_left_container{
    width: 3rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.mini_note_picture_container{
    border-radius: 0.3rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mini_note_picture{
    height: 2.5rem;
    width: 2.5rem;
}

.mini_note_content_container{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 0.7rem;
}

.mini_note_content_title{
    font-weight: 700;
}

.mini_note_content{
    font-weight: 600;
    font-size: 0.6rem;
    word-wrap: break-word;
}

.mini_note_metadata_container{
    max-width: 3rem;
    width: 3rem;
    flex-shrink: 0;
    min-width: 0;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    margin-left: 1rem;
    gap: 0.3rem;
}

.mini_note_metadata_date{
    font-size: 0.6rem;
    font-style: italic;
    font-weight: 600;
}

.mini_note_metadata_unread{
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--app-accent);
}