.app_layout_container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}

.app_layout_navbar_container{
    max-width: 15rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.app_layout_navbar_container::-webkit-scrollbar{
    display: none;
}

.app_layout_content_container{
    width: calc(100vw - 15rem);
    min-width: 70%;
}