:root {
    --d-call-header-height: 1.5rem;
}

.desktop_call_logs_container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;  /* important */
}

.desktop_call_logs_header {
    height: var(--d-call-header-height);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.desktop_call_logs_header_title {
    font-family: Quicksand, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

.desktop_call_logs_contents {
    display: flex;
    flex: 1;
    min-height: 0;     /* IMPORTANT */
    overflow: hidden;  /* IMPORTANT */
}

.desktop_call_logs_list_container {
    width: 100%; /* if need be for sub screen, change to atleast 60% and use the element in component*/
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

.desktop_call_logs_in_log_container {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}
