:root{
    --mobile-call-logs-padding-hor: 1rem;
}

.mobile_call_logs_container{
    display: flex;
    flex-direction: column;
    padding: 0 var(--mobile-call-logs-padding-hor);
    height: 100%;
    position: relative;
}

.mobile_call_logs_header{
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Quicksand, sans-serif;
    padding: 1rem 0;
    flex-shrink: 0;
}

.mobile_call_logs_header_content{
    width: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_call_logs_left{
    font-size: 1rem;
    font-weight: 600;
    color: var(--app-accent);
}

.mobile_call_logs_center{
    font-weight: 800;
    font-size: 1.2rem;
}

.mobile_call_logs_right{
    display: flex;
    justify-content: end;
    width: 100%;
    color: var(--app-accent);
    display: none;
}

.mobile_calls_logs_tabs_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
    border-radius: 2rem;
    position: sticky;
    flex-shrink: 0;
    top: 0;
}

.mobile_call_logs_tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    border-radius: 2rem;
    font-family: Quicksand, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    transition: background 0.3s ease-in-out;
}

.mobile_call_logs_contents{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    overflow: auto;
    flex: 1;
    min-height: 0;
    min-width: 0;
    flex-shrink: 0;
}

.mobile_call_logs_contents::-webkit-scrollbar{
    width: 0;
}