:root {
    --d-call-list-padding-hor: 0.5rem;
    --d-call-list-header-height: 3rem;
    --labels-height: calc(2rem + var(--d-call-list-padding-hor));
}

.d_call_list_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 0.5px solid transparent;
    padding: 0.3rem 0;
    border-radius: 0.4rem;
    overflow: hidden;   /* important */
}

.d_call_list_header {
    height: var(--d-call-list-header-height);
    display: flex;
    padding: 0 var(--d-call-list-padding-hor);
    flex-shrink: 0;
}

.d_call_list_left {
    width: 10rem;
}

.d_call_list_search_container {
    display: flex;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
}

.d_call_list_search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d_call_list_search_input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-family: Quicksand, sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
}

.d_call_list_right {
    margin-left: auto;
    font-size: 0.8rem;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.d_call_list_content_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;   /* IMPORTANT */
}

.d_call_list_content_labels {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    height: var(--labels-height);
    font-size: 0.8rem;
    font-weight: 600;
    border: 0.5px solid transparent;
    padding: var(--d-call-list-padding-hor);
    flex-shrink: 0;
}

.d_call_list_content_label {
    display: flex;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    height: 100%;
}

.d_call_list_content_label.name {
    flex: 1;
    flex-shrink: 0;
}

.d_call_list_content_label.email {
    width: 20%;
    flex-shrink: 0;
}

.d_call_list_content_label.time {
    width: 15%;
    flex-shrink: 0;
}

.d_call_list_content_label.dur {
    width: 10%;
    flex-shrink: 0;
}

.d_call_list_content_label.type {
    width: 10%;
    flex-shrink: 0;
}

.d_call_list_content_label.status {
    width: 15%;
    flex-shrink: 0;
}

.d_call_list_content_label.action {
    width: 10%;
    flex-shrink: 0;
}


.d_call_list_content {
    flex: 1;
    min-height: 0;
    overflow: auto;   /* scrolls correctly */
    padding: 0.2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
