.in_call_container{
    position: relative;
    height: 100%;
    width: 100%;
}

.in_call_header_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    position: absolute;
    top: 0;
    height: 5rem;
    font-family: Quicksand, sans-serif;
    z-index: 3;
    color: #eaeaea;
}

.in_call_friend_name_container{
    font-weight: 700;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.in_call_timelapse_container{
    font-size: 0.7rem;
    font-weight: 600;
}

.a_in_call_screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 3rem);
    width: 100%;
}


.a_in_call_friend_picture_container{
    border-radius: 50%;
    overflow: hidden;
    height: 6rem;
    width: 6rem;
    position: relative;
}
.a_in_call_friend_picture_loading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.in_call_bottom_container{
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    z-index: 3;
}


.in_call_bottom_button_container{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter ease-in-out .3s;
}

.in_call_bottom_button_container:hover{
    filter: brightness(1.5);
}

.video_in_call_container{
    height: 100%;
    width: 100%;
    position: relative;
}

.video_in_call_stream_container{
    position: absolute;
    background-color: aqua;
}

.video_in_call_stream_container.local_video_stream{
    width: 150px;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}