.mobile_in_call_container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    color: white;
}

.mobile_in_call_header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Quicksand, sans-serif;
    z-index: 2;
}

.mobile_in_call_header_left{
    width: 15%;
    max-width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_in_call_header_icon{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mobile_in_call_header_center{
    display: flex;
    flex: 1;
    max-width: calc(100vw - 8rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0 1rem;
    height: 100%;
    font-weight: 700;
    font-size: 0.9rem;
}

.mobile_in_call_header_center_text{
    max-width: 100%;
    text-align: center;
    white-space: nowrap;      /* Prevents text from wrapping */
    overflow: hidden;         /* Hides overflow */
    text-overflow: ellipsis;  /* Adds the "..." */
}

.mobile_in_call_header_right{
    margin-left: auto;
    width: 15%;
    max-width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_in_call_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: Quicksand, sans-serif;
    z-index: 2;
}


.mobile_in_call_footer_icon{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #6d6d6d4d; /* semi-transparent layer */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #474747;
}



.mobile_in_call_main{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.mobile_in_call_main_is_audio{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
}

.mobile_in_call_main_is_audio_user_dp_container{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px #474747;
}

.mobile_in_call_main_is_audio_user_dp_is_loading{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_in_call_main_is_audio_user_dp{
    height: 100%;
    width: 100%;
    object-fit: fill;
}