.ringing_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ringing_caller_picture_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 0.5px solid transparent;
}

.ringing_caller_picture_is_loading{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ringing_caller_picture{
    height: 100%;
    aspect-ratio: 1/1;
}

.ringing_caller_names_container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    margin-top: 0.5rem;
}

.ringing_mid_text{
    font-size: 0.7rem;
    font-weight: 600;
    font-family: Quicksand;
}

.ringing_buttons_container{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
}

.ringing_button{
    height: 35px;
    width: 90px;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    border-radius: 0.4rem;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    color: #eeeeee;
    transition: filter 0.2s ease-in-out;
}

.ringing_button:hover{
    filter: brightness(1.2);
}
.ringing_button:active{
    filter: brightness(1);
}

.ringing_button.accept{
    background-color: #00a000;
}
.ringing_button.decline{
    background-color: #da0000;
}