.app_navabr_container {
    display: flex;
    flex-direction: column;
    border-right: 0.2px solid transparent;
    height: 100%;
}

.app_navbar_header_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0;
    border-bottom: 0.2px solid transparent;
}

.app_navbar_img_container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.app_nav_header_img {
    height: 2rem;
}

.app_navbar_header_text {
    font-size: 0.75rem;
}

.app_navbar_user_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.app_navbar_user_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app_navbar_user_picture_container {
    border-radius: 50%;
    height: 5rem;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--app-accent);
    margin-bottom: 1rem;
    position: relative;
}

.app_nav_header_img_skeleton{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.app_navbar_user_picture {
    border-radius: 50%;
    height: 98%;
    width: 98%;
}

.app_navbar_user_details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app_navbar_user_details_names {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.app_navbar_user_details_id {
    font-size: 0.6rem;
    font-weight: 600;
    font-family: "Space Mono";
}

.app_navbar_user_sub_section_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.app_navbar_user_sub_section_icon {
    cursor: pointer;
    position: relative;
}

.app_navbar_user_sub_section_icon_note_count{
    position: absolute;
    top: -0.5rem;
    right: -0.7rem;
    font-size: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #bb0000;
    color: #fff;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    font-weight: 700;
    font-family: "Space Mono";
}

.app_navbar_links_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.app_navbar_link_container {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    height: 2rem;
    width: 100%;
    padding: 0 2rem;
    transition: background-color .2s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.app_navbar_link_active{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 0.3rem;
    background-color: var(--app-accent);
    border-radius: 0 2px 2px 0;
}

.app_navbar_link_container:hover {
    background-color: #949494b7;
}

.app_navbar_link_icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_navbar_link_label_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app_navbar_label {
    font-size: 0.7rem;
}

.app_navbar_notification_count:not(:empty) {
    font-size: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    background-color: #bb0000;
    color: #fff;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    font-weight: 700;
    font-family: "Space Mono";
}

.app_navbar_footer {
    border-top: 0.2px solid transparent;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app_navbar_theme_container{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: monospace;
}

.app_navbar_theme_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

.app_navbar_theme_checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.app_navbar_theme_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.app_navbar_theme_slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.app_navbar_theme_checkbox:checked +.app_navbar_theme_slider {
    background-color: #009c00;
}

.app_navbar_theme_checkbox:focus +.app_navbar_theme_slider {
    box-shadow: 0 0 1px var(--app-accent);
}

.app_navbar_theme_checkbox:checked +.app_navbar_theme_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}