.d_notif_settings_container{
    display: flex;
    flex-direction: column;
    font-family: Quicksand, sans-serif;
    overflow: auto;
}

.d_notif_settings_section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.d_notif_settings_section_header{
    display: flex;
    flex-direction: column;
}

.d_notif_settings_section_content{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.border-line{
    max-width: 100%;
    width: 45rem;
    min-height: 0.2rem;
}