.d_settings_container{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
}

.d_settings_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    flex-shrink: 0;
}

.d_settings_header_left{
    font-family: Quicksand, sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.d_settings_tabs{
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 100%;
    flex-shrink: 0;
    border-bottom: 2px solid transparent;
}

.d_settings_tab{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    font-family: Quicksand, sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
    min-width: 7rem;
    height: 100%;
    flex-shrink: 0;
    border-bottom: 2px solid transparent;
}
.d_settings_tab.active{
    border-bottom: 2px solid var(--app-accent);
    color: var(--app-accent);
    font-weight: 700;
    font-size: 0.8rem;
}

.d_settings_content{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}