.in_chat_container {
    border: 1px solid transparent;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.in_chat_loading_container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; justify-content: center;
}

.in_chat_header_container {
    display: flex;
    flex-direction: row;
    height: 3.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid transparent;
}

.in_chat_header_back{
    margin-right: 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in_chat_header_image_container {
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.in_chat_header_image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}

.in_chat_header_details_container {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.7rem;
}

.in_chat_header_name_container {
    font-weight: 700;
    font-family: Quicksand, sans-serif;
}

.in_chat_header_status_container {
    font-weight: 700;
    font-family: Quicksand, sans-serif;
    font-size: 0.65rem;
}

.in_chat_header_typing_container {
    font-weight: 700;
    font-family: Quicksand, sans-serif;
    font-size: 0.65rem;
    font-style: italic;
    color: var(--app-accent);
    letter-spacing: 0.5px;
}

.in_chat_header_other_icons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.in_chat_header_icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    padding: 0.4rem;
    border-radius: 2rem;
    transition: background-color ease-in-out .2s;
}

.in_chat_header_icon:disabled{
    cursor: not-allowed;
}

.in_chat_header_icon:not(:disabled):hover {
    background-color: #cccccc7e;
}

.in_chat_messages_container {
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

.in_chat_messages_container::-webkit-scrollbar {
    width: 5px;
}

.in_chat_messages_container::-webkit-scrollbar-track {
    background-color: #cccccc7e;
    border-radius: 3px;
}

.in_chat_messages_container::-webkit-scrollbar-thumb {
    background-color: var(--app-accent);
    border-radius: 3px;
}


.in_chat_messages_section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.in_chat_message_section_date_container {
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    padding: 1rem;
    pointer-events: none;
}

.in_chat_message_section_date {
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
    cursor: text;
}

.in_chat_messages_section_messages {
    display: flex;
    flex-direction: column;
}

.in_chat_footer_container {
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    max-height: 6rem;
    padding: 0.5rem 1rem;
    border-top: 1px solid transparent;
    position: relative;
}


.in_chat_footer_input_container {
    position: relative;
    flex-grow: 1;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.in_chat_footer_input_placeholder {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    pointer-events: none;
    user-select: none;
    font-size: 0.65rem;
    font-weight: 700;
    font-family: Quicksand, sans-serif;
}


.in_chat_footer_input_field {
    width: 100%;
    min-height: 2rem;
    max-height: 5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: transparent;
    outline: none;
    resize: none;
    font-size: 0.75rem;
    font-family: Quicksand, sans-serif;
    overflow-y: auto;
    font-weight: 700;
    white-space: pre-wrap;
    word-break: break-word;
}

.in_chat_footer_input_field:empty::before {
    content: attr(data-placeholder);
    color: #888;
    font-weight: 500;
    pointer-events: none;    
    user-select: none;
    font-size: 0.65rem;
    font-weight: 700;
    font-family: Quicksand, sans-serif;
}


.in_chat_footer_input_field::-webkit-scrollbar {
    width: 5px;
}

.in_chat_footer_input_field::-webkit-scrollbar-track {
    background-color: #cccccc7e;
    border-radius: 3px;
}

.in_chat_footer_input_field::-webkit-scrollbar-thumb {
    background-color: var(--app-accent);
    border-radius: 3px;
}


.in_chat_footer_icons_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: end;
    padding: 0 0 0.5rem 0;
    gap: 0.5rem;
    margin-left: auto;
}

.in_chat_footer_file_field {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.in_chat_footer_file_field::-webkit-file-upload-button {
    cursor: pointer;
}

.in_chat_footer_emoji_container {
    position: absolute;
    right: 0;
    top: -17rem;
    height: 16rem;
    scale: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    overflow: auto;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    z-index: 8;
}


.in_chat_footer_emoji_container::-webkit-scrollbar,
.EmojiPickerReact .epr-body::-webkit-scrollbar {
    width: 5px;
}

.in_chat_footer_emoji_container::-webkit-scrollbar-track,
.EmojiPickerReact .epr-body::-webkit-scrollbar-track {
    background-color: #cccccc7e;
    border-radius: 3px;
}

.in_chat_footer_emoji_container::-webkit-scrollbar-thumb,
.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
    background-color: var(--app-accent);
    border-radius: 3px;
}

.EmojiPickerReact {
    border: none !important;
}

.active {
    scale: 1;
    opacity: 1;
}


.in_chat_media_preview_container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}