.users_list_container{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.user_list_header_close{
    font-size: 0.65rem;
    border: 1px solid #ff0000;
    font-family: Quicksand, sans-serif;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    font-weight: 700;
    color: red;
    cursor: pointer;
}
.user_list_tabs_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    min-height: 2rem;
    margin-top: 1rem;
}
.user_list_tab_container{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 2rem;
    border-bottom: 0.1rem solid transparent;
    transition: border-color, color ease-in-out .275s;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_list_tab_container.active{
    border-color: var(--app-accent);
    color: var(--app-accent);
}

.user_tab_screens_container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow-y: auto;
}
