.user_list_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0.5rem;
}

.user_list_list_container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    flex: 1;
}

.page_pagination_container{
    margin-top: 1rem;
    min-height: 4rem;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}