.audio_recorder_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.audio_recorder_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    height: 3rem;
}

.audio_recorder_elapse_time {
    min-width: 3rem;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: Quicksand, sans-serif;
}

.audio_recorder_waves {
    flex: 1;
    display: flex;
    align-items: center;
}

.audio_recorder_waves canvas {
    width: 100%;
    height: 30px;
}

.audio_recorder_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}