.audio_player_container {
    display: flex;
    flex-direction: row;
    height: 4.5rem;
    padding: 0.2rem 0.4rem;
}

.audio_player_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    max-width: 4rem;
    height: 100%;
    padding-bottom: 0.5rem;
}

.audio_player_control_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.audio_player_center {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 0.5rem;
    padding-bottom: 0.5rem;
}

.audio_player_controls_track_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio_player_controls_track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #ccc;
    border-radius: 5px;
    outline: none;
}

/* Chrome, Safari, Edge (thumb) */
.audio_player_controls_track::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #a7a7a7;
    cursor: pointer;
    border: none;
    transition: transform 0.2s;
}

.audio_player_controls_track::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

/* Firefox (thumb) */
.audio_player_controls_track::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #a7a7a7;
    cursor: pointer;
    border: none;
    transition: transform 0.2s;
}

.audio_player_controls_track::-moz-range-thumb:hover {
    transform: scale(1.1);
}

/* Firefox (track) */
.audio_player_controls_track::-moz-range-track {
    background: #ccc;
    height: 4px;
    border-radius: 5px;
}

/* IE (track and thumb) */
.audio_player_controls_track::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    height: 4px;
}

.audio_player_controls_track::-ms-fill-lower {
    background: #ccc;
}

.audio_player_controls_track::-ms-fill-upper {
    background: #ccc;
}

.audio_player_controls_track::-ms-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #a7a7a7;
    cursor: pointer;
    border: none;
}



.audio_player_controls_meta_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.audio_player_controls_meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.audio_player_controls_meta.elapsed {
    font-size: 0.6rem;
    font-weight: 600;
}

.audio_player_controls_meta.timestamp {
    font-size: 0.6rem;
    font-weight: 600;
}


.audio_player_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    max-width: 5rem;
    padding-bottom: 0.5rem;
}

.audio_player_right_dp_container {
    height: 3rem;
    width: 3rem;
    position: relative;
    border-radius: 50%;
    background-color: antiquewhite;
}

.audio_player_right_dp{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.audio_player_right_mic_icon {
    position: absolute;
    left: -10px;
    bottom: -2px;
    filter: drop-shadow(0 0 10px #000000);
}