.app_utility_thumbnail {
    cursor: zoom-in;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;
}

.app_utility_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    overflow: hidden;
    cursor: zoom-out;
}

.app_utility_dragging {
    cursor: grabbing;
}

.app_utility_modal_topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.app_utility_icon {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.app_utility_guide_box {
    position: fixed;
    top: 0;
    width: 15rem;
    background: #eaeaea;
    color: #242424;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 1rem #242424;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-family: Quicksand, sans-serif;
    z-index: 20;
}

.app_utility_guide_buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.app_utility_button_close {
    background: var(--app-accent);
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    font-size: 0.65rem;
    font-weight: bold;
    font-family: Quicksand, sans-serif;
}

.app_utility_button_dontshow {
    background: red;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    font-size: 0.65rem;
    font-weight: bold;
    font-family: Quicksand, sans-serif;
    margin-left: auto;
    color: #fff;
}

.app_utility_full_image {
    transform-origin: center center;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    object-fit: contain;
    transition: transform 0.3s ease-out;
}

.app_utility_caption {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
}

.app_utility_toggle_caption {
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}