.mobile_chat_list_container{
    height: 100%;

}

.mobile_chat_list_content_container{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex: 1;
    min-height: 100%;
    padding: 1rem var(--mobile-padding-hor);
    overflow-y: auto;
}